@using activityPlanner.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/login.css"/>
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <div class="loginBox">
            <h1>Login</h1>
            <form asp-controller="user" asp-action="Login" method="POST">
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <br>
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <br>
                <button type="submit">Login</button>
                <p>OR</p>
                <button><a href="/">Register</a></button>            
            </form>
    </div>
</body>
</html>